/*
=================================================
=========            GENERAL            =========
=================================================
*/

.inline-block {
  display: inline-block;
}

/*
=================================================
=========           HEADER BAR          =========
=================================================
*/

.header-bar-h1 {
  font-size: calc(20px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: #FFF;
}

.header-bar {
  background: linear-gradient(135deg, #24C6DC 0%,#514A9D 100%);
  min-height: 50px;
}

/*
=================================================
=========           NAVIGATION          =========
=================================================
*/

.navigation ul>li {
  list-style-type: none;
  margin: 9% 0 9% 0;
}

.navigation ul>li>a {
  text-decoration: none;
  font-weight: bold;
  color: #3A3A3A;
}

navigation ul>li>span {
  font-weight: bold;
  color: #3A3A3A;
}

.navigation hr {
  width: 70%;
}

.navigation-dropdown-1 {
  display: none;
}

.navigation-dropdown-1 li {
  list-style-type: none;
  margin: 9% 0 9% 9%;
}

.navigation-dropdown-1 li>a {
  text-decoration: none;
  color: #3A3A3A;
}

.navigation-dropdown-2 {
  display: none;
}

.navigation-dropdown-2 li {
  list-style-type: none;
  margin: 9% 0 9% 9%;
}

.navigation-dropdown-2 li>a {
  text-decoration: none;
  color: #3A3A3A;
}

.grid-col-nav {
  flex: none;
  width: 18%;
  padding: .75rem;
  margin: 0 0 .5rem .5rem ;
}
/*
=================================================
=========            CONTENT            =========
=================================================
*/

.content-header {
  background: #515151;
  border-bottom: 7px solid #24C6DC;
}

.content-header h2 {
  color: #FFF;
}

.content-container {
  background: #F3F3F3;
}

.border-bottom:after {
    content: "";
    display: block;
    width: 20%;
    padding-top: 5px;
    border-bottom: 4px solid #24C6DC;
}

.content-left h4 {
  color: #514A9D;
}

.content-right {
  padding: 10% 5% 10% 2%;
}

/*
=================================================
=========             CARDS             =========
=================================================
*/

.card {
  background-color: #FFF;
  border-radius: 19px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  padding: 10%;
}
